/* absensi-karyawan/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Dashboard Karyawan */
.main-action-btn {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 10px;
}

/* Dashboard Admin */
.admin-sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding-top: 56px; 
    background-color: #ffffff;
    border-right: 1px solid #dee2e6;
}

.admin-content {
    margin-left: 250px;
    padding: 20px;
}

/* Responsif untuk Admin */
@media (max-width: 991.98px) {
    .admin-sidebar {
        display: none;
    }
    .admin-content {
        margin-left: 0;
    }
    .main-sidebar-nav {
        display: block !important;
        width: 100%;
    }
}
